@import "tailwindcss";
@import "tw-animate-css";

@layer base {
	@font-face {
		font-family: "Satoshi";
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url("./fonts/Satoshi-Regular.woff") format("woff");
	}
	@font-face {
		font-family: "Satoshi-Medium";
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url("./fonts/Satoshi-Medium.woff") format("woff");
	}
	@font-face {
		font-family: "Satoshi-Bold";
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url("./fonts/Satoshi-Bold.woff") format("woff");
	}
	@font-face {
		font-family: "Satoshi-Black";
		font-style: normal;
		font-weight: 900;
		font-display: swap;
		src: url("./fonts/Satoshi-Black.woff") format("woff");
	}
}

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-blue500: var(--blue500);
	--color-pink500: var(--pink500);

	--color-neutral800: var(--neutral800);
	--color-neutral700: var(--neutral700);
	--color-neutral600: var(--neutral600);
	--color-neutral500: var(--neutral500);
	--color-neutral400: var(--neutral400);
	--color-neutral300: var(--neutral300);
	--color-neutral200: var(--neutral200);
	--color-neutral100: var(--neutral100);

	--font-SatoshiBlack: var(--SatoshiBlack);
	--font-SatoshiBold: var(--SatoshiBold);
	--font-SatoshiMedium: var(--SatoshiMedium);
	--font-Satoshi: var(--Satoshi);

	--background-image-brandGradient: var(--brandGradient);
	--background-image-skeletonGradient: var(--skeletonGradient);

	--animate-skeleton: skeletonKeyframe 3s linear infinite;

	@keyframes skeletonKeyframe {
		to {
			transform: translateX(200%);
		}
	}
}

:root {
	--SatoshiBlack: "Satoshi-Black", "sans-serif";
	--SatoshiBold: "Satoshi-Bold", "sans-serif";
	--SatoshiMedium: "Satoshi-Medium", "sans-serif";
	--Satoshi: "Satoshi", "sans-serif";

	--blue500: #00c2ff;
	--pink500: #fa00ff;

	--neutral800: #000000;
	--neutral700: #3b3b3b;
	--neutral600: #5c5c5c;
	--neutral500: #7c7c7c;
	--neutral400: #949494;
	--neutral300: #c4c4c4;
	--neutral200: #dcdcdc;
	--neutral100: #ffffff;

	--brandGradient: linear-gradient(
		90deg,
		var(--blue500) 0%,
		var(--pink500) 100%
	);

	--skeletonGradient: linear-gradient(
		to right,
		transparent 0%,
		var(--neutral500) 50%,
		transparent 100%
	);
}

.dark {
	--blue500: #00c2ff;
	--pink500: #fa00ff;

	--neutral800: #ffffff;
	--neutral700: #dcdcdc;
	--neutral600: #c4c4c4;
	--neutral400: #7c7c7c;
	--neutral300: #5c5c5c;
	--neutral500: #949494;
	--neutral200: #3b3b3b;
	--neutral100: #000000;

	--skeletonGradient: linear-gradient(
		to right,
		transparent 0%,
		var(--neutral500) 50%,
		transparent 100%
	);
}

@layer base {
	body {
		@apply bg-neutral600 text-neutral100;
	}
}
